<div class="readable-section" *ngIf="shownFragments.length > 0"
    (click)="skipParagraph()">

    <ng-container *ngFor="let fragment of shownFragments; let i = index">
        <!-- <p class="card-text">{{ fragment.text }}</p> -->
        <ng-container *ngIf="skipedParagrafs.includes(i); else animatedTemplate">
            <p>
                {{fragment.fragment.text}}
            </p>
        </ng-container>

        <ng-template #animatedTemplate>
           <teximate class="text-justified" *ngIf="fragment.fragment.text" [text]="fragment.fragment.text" [enter]="fragment.options"
                (finish)="finishAnimation(i)"></teximate>

        </ng-template>



    </ng-container>

</div>