<div class="row" *ngIf="(chapters$ | async) as chapters">
<!-- <div class="row" *ngIf="(shownChapters) as chapters"> -->
    <div class="col-12 mb-3 ml-3 d-flex">
        <h3 *ngIf="!chaptersTab.editingTitle">{{npc.title || 'Titulo de la historia'}}</h3>
        <div *ngIf="chaptersTab.editingTitle" [formGroup]="titleForm">
            <input class="form-control" type="text" formControlName="title" placeholder="Titulo del cuento">
        </div>
        <button class="btn ml-3 mb-auto" (click)="editStoryTitle()">
            <fa-icon [icon]="!chaptersTab.editingTitle ? faPen : faCheck" size="sm"></fa-icon>
        </button>
    </div>


    <ng-container *ngFor="let chapter of chapters; let i = index">
        <div class="col-12 mb-2">

            <!-- card del capitulo -->
            <div class="">
                <div class="card-header d-flex" (click)="toggleChapterInfo(chapter.id)">
                    <ng-container
                        *ngIf="chaptersTab?.editing && chaptersTab?.chapters.includes(chapter.id); else chapterTitle">
                        <div [formGroup]="chapterForm">
                            <input class="form-control" type="text" formControlName="name"
                                placeholder="Nombre del Capítulo">
                        </div>
                    </ng-container>
                    <ng-template #chapterTitle>
                        <h4 class="card-title">{{chapter.name || 'Nuevo Capitulo'}}</h4>
                        <small class="text-muted ml-2 my-auto">
                            <span *ngIf="!chapter.published">Sin Publicar</span>
                            <span *ngIf="chapter.published">Publicado el {{ chapter.publishDate | date}}</span>
                        </small>
                    </ng-template>
                </div>

                <ng-container *ngIf="chaptersTab?.chapters.includes(chapter.id)">

                    <ng-container *ngIf="chaptersTab.loading.includes(chapter.id)">
                        <div class="card-body d-flex">
                            <app-loader class="loader mx-auto" size="md"></app-loader>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!chaptersTab.loading.includes(chapter.id)">

                        <div class="card-body place-info d-flex flex-column">


                            <ng-container *ngIf="!chaptersTab?.editing">


                                <!-- seccion de historia -->
                                <div class="mb-3 row">
                                    <div class="col-8"
                                        *ngIf="chapter.story && chapter.story[0] && chapter.story[0].text ; else noStory">
                                        <app-animated-fragment [tale]="chapter.story" (finish)="endStoryAnimation()">
                                        </app-animated-fragment>
                                    </div>
                                    <ng-template #noStory>
                                        <div class="col-8 h6">
                                            Sin historia
                                        </div>
                                    </ng-template>
                                    <div class="col-4 d-flex">
                                        <button class="btn ml-auto mb-auto"
                                            (click)="publishChapter(chapter.id, !chapter.published)">
                                            <span *ngIf="!chapter.published">
                                                <fa-icon [icon]="faUpload" size="lg"></fa-icon>
                                            </span>
                                            <span *ngIf="chapter.published">
                                                <fa-icon [icon]="faDownload" size="lg"></fa-icon>
                                            </span>
                                        </button>
                                        <button class="btn mb-auto"
                                            (click)="editChapter(chapter); $event.stopPropagation()">
                                            <fa-icon [icon]="faEdit" size="lg"></fa-icon>
                                        </button>
                                    </div>
                                </div>


                                <!-- seccion para items -->
                                <div *ngIf="chapter.items && chapter.items.length>0">
                                    <ng-container *ngFor="let item of chapter.items">
                                        <p class="card-text">{{ item.name }}</p>
                                    </ng-container>
                                </div>


                                <!-- seccion de decision -->
                                <div class="col-12"
                                    *ngIf="chapter.story && chapter.usersDecisions?.options?.length>0 && !chapter.endLocation?.endChapter ">
                                    <app-take-decision [decision]="chapter.usersDecisions"
                                        (taken)="toggleChapterInfo($event)"></app-take-decision>

                                </div>

                                <div *ngIf="chapter.endLocation && chapter.endLocation.endChapter">
                                    Ubicacion final:
                                    <span *ngIf="chapter.endLocation.placeId">
                                        {{chapter.endLocation.placeId | placeName: chapter.endLocation.cityId | async }}
                                        en
                                    </span>
                                    {{chapter.endLocation.cityId | cityName | async}}
                                </div>

                            </ng-container>

                            <!-- seccion de edicion del capitulo -->
                            <ng-container *ngIf="chaptersTab?.editing">
                                <!-- seccion de historia -->
                                <div [formGroup]="chapterForm">

                                    <!-- edicion de historia -->
                                    <div class="mb-3">
                                        <app-write-fragments [tale]="chapterForm.get('story')"></app-write-fragments>
                                    </div>

                                    <!-- edicion de los items entregados -->

                                    <div class="mb-3" [formGroup]="chapterForm.get('endLocation')">
                                        <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="endChapter"
                                                formControlName="endChapter">
                                            <label class="form-check-label" for="endChapter">Capitulo final</label>
                                        </div>
                                    </div>
                                    <div class="row mb-3" *ngIf="chapterForm.get('endLocation').value.endChapter"
                                        [formGroup]="chapterForm.get('endLocation')">
                                        <div class="col-4">
                                            <label for="">Ciudad</label>
                                            <select class="form-control" formControlName="cityId">
                                                <ng-container *ngFor="let city of cities">
                                                    <option value="{{city.value}}">{{city.name}}</option>
                                                </ng-container>
                                            </select>
                                        </div>
                                        <div class="col-4" *ngIf="places && places.length>0">
                                            <label for="">Lugar</label>
                                            <select class="form-control" formControlName="placeId">
                                                <option [value]="null">Las afueras de la ciudad</option>
                                                <ng-container *ngFor="let city of places">
                                                    <option value="{{city.value}}">{{city.name}}</option>
                                                </ng-container>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- edicion de la decision -->
                                    <div class="mb-3" *ngIf="!chapterForm.get('endLocation').value.endChapter">
                                        <app-write-decision [decision]="chapterForm.get('usersDecisions')">
                                        </app-write-decision>
                                    </div>


                                </div>

                            </ng-container>

                        </div>
                        <div class="card-footer d-flex" *ngIf="chaptersTab?.editing">
                            <button class="btn btn-secondary ml-auto"
                                (click)="saveChapterEdition(true)">Cancelar</button>
                            <button class="btn btn-primary ml-4" (click)="saveChapterEdition()">Guardar</button>
                        </div>
                    </ng-container>

                </ng-container>

            </div>

        </div>
    </ng-container>
</div>