.loader{
    position: absolute;
    z-index: 2;
    background: #fafafa;
    width: calc(100% - 2rem);
    height: 100%;
    width: 100%;
    display: flex;
}

.main {
    background: #fafafa;
    position: absolute;
}