<main class="h-100 main pb-5 px-md-5">


  <div class="row mx-auto position-relative">

    <app-loader class="loader" size="lg" *ngIf="loading"></app-loader>
    <div class="col-12 col-md-6 d-flex mt-5">
      <div class="card">
        <div class="card-body">
          <h4 class="mb-3">Ingresar</h4>
          <form class="form-row" [formGroup]="loginForm" (submit)="login()">
            <div class="form-group col-12">
              <label class="col-12">Email o Usuario:</label>
              <input class="form-control" type="text" formControlName="username">
            </div>
            <div class="form-group col-12">
              <label class="col-12">Contraseña:</label>
              <input class="form-control" type="password" formControlName="password">
            </div>
            <div class="col-12 my-3">
              <button type="submit" class="btn btn-primary btn-block">
                  Iniciar sesion
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mt-5">
      <div class="card">
        <div class="card-body">
          <h4 class="mb-3">Registrarse</h4>
          <form class="form-row" [formGroup]="signupForm" (submit)="signin()">
            <div class="form-group col-12">
              <label class="col-12" for="username">Email:</label>
              <input class="form-control" type="email" id="email" formControlName="email">
            </div>
            <div class="form-group col-12">
              <label class="col-12" for="username">Usuario:</label>
              <input class="form-control" type="text" id="username" formControlName="username">
            </div>
            <div class="form-group col-12">
              <label class="col-12" for="password">Contraseña:</label>
              <input class="form-control" type="password" id="password" formControlName="password">
            </div>
            <div class="form-group col-12">
              <label class="col-12" for="password">Confirmar Contraseña:</label>
              <input class="form-control" [ngClass]="{'ng-invalid': signupForm.touched && signupForm.errors?.notSame }"
                type="password" id="confirmation" formControlName="confirmation">
            </div>
            <div class="col-12 my-3">
              <button type="submit" class="btn btn-secondary btn-block">
                  Registrarse
              </button>
            </div>
          </form>
  
        </div>
      </div>
    </div>
    
    <div class="col-12 mx-auto my-5">
      <button class="btn btn-outline-secondary" (click)="back()">Volver</button>
    </div>
  </div>
</main>