@if (loading) {
  <app-loader class="loader" size="lg"></app-loader>
}
<main class="h-100 w-100 main pb-5 px-md-5">


  <div class="row mx-auto position-relative">
    <div class="col-12 mx-auto mt-5">
      <button mat-button (click)="back()">Volver</button>
    </div>


    <div class="col-12 col-md-6 d-flex mt-5">
      <div class="card w-100">
        <div class="card-body d-flex flex-column h-100">
          <h4 class="">Ingresar</h4>
          <form class="my-3 d-flex flex-column flex-fill" [formGroup]="loginForm" (submit)="login()">
            <mat-form-field appearance="outline">
              <mat-label>Email o Usuario:</mat-label>
              <input matInput type="text" formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Contraseña:</mat-label>
              <input matInput type="password" formControlName="password">
            </mat-form-field>
            <button mat-raised-button type="submit" class="mt-auto mr-auto">
                Iniciar sesion
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mt-5">
      <div class="card">
        <div class="card-body">
          <h4 class="mb-3">Registrarse</h4>
          <form class="my-3 d-flex flex-column flex-fill" [formGroup]="signupForm" (submit)="signin()">
            <mat-form-field appearance="outline">
              <mat-label>Email:</mat-label>
              <input matInput type="email" id="email" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Usuario:</mat-label>
              <input matInput type="text" id="username" formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Contraseña:</mat-label>
              <input matInput type="password" id="password" formControlName="password">
            </mat-form-field>
            <mat-form-field appearance="outline" class="mb-4">
              <mat-label>Confirmar Contraseña:</mat-label>
              <input matInput type="password" id="confirmation" formControlName="confirmation">
              @if (confirmationFormErrors['notSame']) {
                <mat-error>Ojo que las contraseñas no son iguales</mat-error>
              }
            </mat-form-field>
            <button mat-raised-button type="submit" class="mt-auto mr-auto">
              Registrarse
            </button>
          </form>
  
        </div>
      </div>
    </div>
    
  </div>
</main>