<main class="container app-main">
  <div class="mt-5 col-10 col-md-8 mx-auto position-relative">

    <div class="row">
      <h4 class="col-12 mb-5">Que deseas hacer?</h4>

      <div class="card col-12 mb-5" *ngIf="needUpdate">
        <div class="row card-body">
          <div class="col-12 col-md-8">
              Hacen falta algunos datos de tu usaurio necesarios para continuar.
          </div>
          <div class="col-12 col-md-4 text-center d-flex mt-4 mt-lg-0">
            <button class="btn btn-secondary my-auto btn-block h4" (click)="goToUpdateUser()">
              Actualizar datos
            </button>
          </div>
        </div>

      </div>

      <div class="col-6">
        <button class="btn btn-primary btn-block btn-lg" [disabled]="needUpdate" (click)="userChooseActivity(true)">
          Escribir
        </button>
      </div>
      <div class="col-6">
        <button class="btn btn-primary btn-block btn-lg" [disabled]="needUpdate" (click)="userChooseActivity(false)">
          Leer
        </button>
      </div>
    </div>

    <div class="card my-5 position-relative" *ngIf="rolConfirmation">
      <app-loader class="loader" size="lg" *ngIf="loading"></app-loader>
      <div class="row card-body">
        <div class="col-12 col-md-8">
          <p >
            No posees el rol de
            <span *ngIf="rolConfirmation=='R'">Lector,</span>
            <span *ngIf="rolConfirmation=='W'">Escritor,</span> deseas obtenerlo y continuar?
          </p>
          <div class="col-12">
            <div class="row mb-4" *ngIf="rolConfirmation=='W'">
              <label class="col-12 col-md-8" for="">Confirma el codigo de escritor:</label>
              <input class="col-12 col-md-4 form-control my-auto" type="text" [(ngModel)]="writerPass">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 text-center d-flex">
          <button class="btn btn-secondary my-auto mx-auto" (click)="addRol(rolConfirmation)">
            Aceptar
          </button>
        </div>
      </div>

    </div>
  </div>
</main>


<!-- <pre>
    {{user | json}}
  </pre> -->