 {{#if books}}
<h1 class="col-12">Lista de libros</h1>
{{#each books}}
<div class="col-4">

    <div class="card card-body">
        <h3>{{title}}</h3>
        <p>Autor: {{author}}</p>
        <p>Codigo: {{isbn}}</p>
    </div>
</div>


{{/each}} {{/if}}