.city-selector{
    margin-top: auto;
    max-height: 30%;
    overflow-y: auto;
    padding: 0 2rem 0 2rem;
}
.description-tale{
    max-height: 70%;
    overflow-y: auto;
    padding: 1.5rem 2rem 0 2rem;
}