.city-selector{
    margin-top: auto;
    max-height: 30%;
    overflow-y: auto;
    padding: 0 1.5rem 0 1.5rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: white;
}
.description-tale{
    padding: 1.5rem 1rem 0 1rem;
    padding: 1.5rem 1rem 0 1rem;
    // margin-bottom: 40%;
}