<div class="container" *ngIf="(cities$ | async) as cities">
    <ng-container *ngFor="let city of cities">
        <div class="d-flex py-2 border-bottom mx-md-auto" (click)="selectCity(city.id)">
            <div class="h5 font-weight-normal">
                {{city.name}}
            </div>
            <div class="ml-auto" *ngIf="loading.includes(city.id)">
                <app-loader class="loader" size="md"></app-loader>
            </div>
            <div class="ml-auto mt-auto" *ngIf="selectedCity?.id === city.id">
                <fa-icon [icon]="faDown" size="xl"></fa-icon>
            </div>
        </div>

        <ng-container *ngIf="selectedCity?.id === city.id && (character$ | async) as character">
            <div class="pt-2 border-left px-3" *ngIf="(selectedCity.description | getRandom) as description">
                <app-animated-fragment [tale]="description.tale" [animations]="character.animations"
                    (finish)="showEnter(description.id)">
                </app-animated-fragment>
                <p class="text-muted text-right" *ngIf="enterBtn"> - {{description.author}}</p>
            </div>
            <div class="d-flex mb-2" *ngIf="enterBtn">
                <div class="btn ml-auto" (click)="enterCity(selectedCity.id)">
                    Viajar
                    <fa-icon class="ml-3" [icon]="faRight" size="xl"></fa-icon>
                </div>
            </div>

        </ng-container>

    </ng-container>
</div>
