<div class="row" *ngIf="(places$ | async ) as places">
  <ng-container *ngFor="let place of places; let i = index">



    <div class="col-12 col-md-6 mb-5"
      [ngClass]="{'col-md-6': (!placesTabs || !placesTabs.editing || placesTabs.place !== place.id), 'col-md-12': (placesTabs && placesTabs.place === place.id && placesTabs.editing)}">

      <!-- Carta de lugar -->
      <div class="card-header" (click)="togglePlaceInfo(place.id)">
        <div class="row">
          <div class="col-1 d-flex">
            <fa-icon [icon]="placesTabs?.place === place.id ? faMapMarkerAlt : faMapMarker" size="lg" class="m-auto">
            </fa-icon>
          </div>
          <div class="col-10">
            <h4 class="card-title mb-0">
              {{place.name}}
            </h4>
            <small class="text-muted ml-2">
              <span *ngIf="!place.published">Sin Publicar</span>
              <span *ngIf="place.published">Publicado el {{ place.publishDate | date}}</span>
            </small>
          </div>
        </div>
      </div>

      <!-- card expandida -->
      <div *ngIf="placesTabs?.place === place.id">

        <ng-container *ngIf="placesTabs.loading">
          <div class="card-body d-flex">
            <app-loader class="loader mx-auto" size="md"></app-loader>
          </div>
        </ng-container>


        <ng-container *ngIf="!placesTabs.loading">

          <!-- tabs de descripcion y entrada -->
          <ul class="nav nav-tabs pt-3">
            <li class="nav-item col-6">
              <a class="nav-link h-100 d-flex" (click)="placesTabs.page = 0; placesTabs.tab = 'desc'"
                [ngClass]="{'active': placesTabs.tab == 'desc', 'disabled': placesTabs.editing }">
                Apariencias
                <span class="ml-2 my-auto badge badge-pill"
                  [ngClass]="{'badge-primary': !placesTabs.editing, 'badge-secondary': placesTabs.editing }">
                  {{place?.description?.length}}
                </span>
              </a>
            </li>
            <li class="nav-item col-6">
              <a class="nav-link h-100 d-flex" (click)="placesTabs.page = 0; placesTabs.tab = 'entry'"
                [ngClass]="{'active': placesTabs.tab == 'entry', 'disabled': placesTabs.editing }">
                Historias
                <span class="ml-2 my-auto badge badge-pill"
                  [ngClass]="{'badge-primary': !placesTabs.editing, 'badge-secondary': placesTabs.editing }">
                  {{place.entry.length}}
                </span>
              </a>
            </li>

          </ul>



          <div class="py-2 px-3 border-left d-flex flex-column">

            <ng-container *ngIf="!placesTabs.editing">

              <!-- Botones -->
              <div class="mr-auto mb-2">
                <!-- boton de nueva descripcion o viaje -->
                <button class="btn mr-2" (click)="newTale()" matTooltip="Nueva narración">
                  <fa-icon [icon]="faPlus" size="sm"></fa-icon>
                  <span class="ml-2 d-inline d-md-none">Nueva</span>
                </button>
                <!-- boton de editar descripcion o viaje -->
                <button class="btn mr-2" (click)="editTale(place.id)" matTooltip="Editar narración">
                  <fa-icon [icon]="faEdit" size="sm"></fa-icon>
                  <span class="ml-2 d-inline d-md-none">Editar</span>
                </button>
              </div>

              <!-- Descripciones -->
              <ng-container *ngIf="placesTabs.tab == 'desc'">
                <div>
                  <app-animated-fragment [tale]="place.description[placesTabs.page].tale"></app-animated-fragment>
                  <p class="text-muted text-right"> - {{place.description[placesTabs.page].author}}</p>
                </div>
                <small class="text-muted ml-auto">
                  <span *ngIf="!place.description[placesTabs.page].published">Sin Publicar</span>
                  <span *ngIf="place.description[placesTabs.page].published">Publicado el
                    {{ place.description[placesTabs.page].publishDate | date}}</span>
                </small>
                <div class="text-muted mt-auto text-center">
                  <button class="btn btn-link" *ngIf="placesTabs.page!== 0" (click)="changePage(place.id,false)">
                    <fa-icon [icon]="faLeft"></fa-icon>
                  </button>
                  {{placesTabs.page + 1}}/{{place.description.length}}
                  <button class="btn btn-link" *ngIf="placesTabs.page + 1 !== place.description.length"
                    (click)="changePage(i,true)">
                    <fa-icon [icon]="faRight"></fa-icon>
                  </button>
                </div>
              </ng-container>

              <!-- Entradas -->
              <ng-container *ngIf="placesTabs.tab == 'entry'">
                <div>
                  <app-animated-fragment [tale]="place.entry[placesTabs.page].tale"></app-animated-fragment>
                  <p class="text-muted text-right"> - {{place.entry[placesTabs.page].author}}</p>
                </div>
                <small class="text-muted ml-auto">
                  <span *ngIf="!place.entry[placesTabs.page].published">Sin Publicar</span>
                  <span *ngIf="place.entry[placesTabs.page].published">Publicado el
                    {{ place.description[placesTabs.page].publishDate | date}}</span>
                </small>
                <div class="text-muted mt-auto text-center">
                  <button class="btn btn-link" *ngIf="placesTabs.page!== 0" (click)="changePage(place.id,false)">
                    <fa-icon [icon]="faLeft"></fa-icon>
                  </button>
                  {{placesTabs.page + 1}}/{{place.entry.length}}
                  <button class="btn btn-link" *ngIf="placesTabs.page + 1 !== place.entry.length"
                    (click)="changePage(place.id,true)">
                    <fa-icon [icon]="faRight"></fa-icon>
                  </button>
                </div>
              </ng-container>
            </ng-container>

            <!-- formulario de edicion y creacion -->
            <ng-container *ngIf="placesTabs.editing">
              <div>
                <div>
                  <span *ngIf="placesTabs.tab == 'desc'">
                    {{place.name}} es ...
                  </span>
                  <span *ngIf="placesTabs.tab == 'entry'">
                    En {{place.name}} ...
                  </span>
                </div>
              </div>
              <form [formGroup]="placeForm">
                <app-write-fragments [maxSize]="(placesTabs.tab == 'desc') ? 3 : null" [tale]="placeForm.get('tale')">
                </app-write-fragments>
              </form>

              <!-- Botones de edicion -->
              <div class="my-3" *ngIf="!placesTabs.newTale">
                <!-- boton de eliminar descripcion o viaje -->
                <button class="btn mr-2" (click)="deleteTale(place.id)" matTooltip="Eliminar narracíon">
                  <fa-icon [icon]="faTimes" size="xl"></fa-icon>
                  <span class="ml-2 d-inline d-md-none">Eliminar</span>
                </button>

                <!-- boton de publicar descripcion o viaje -->
                <button class="btn mr-2" (click)="publishTale(place.id)" matTooltip="{{ placeForm.get('published').value ? 'Quitar publicacion': 'Publicar'}}">
                  <span *ngIf="!placeForm.get('published').value">
                    <fa-icon [icon]="faUpload" size="xl"></fa-icon>
                  </span>
                  <span *ngIf="placeForm.get('published').value">
                    <fa-icon [icon]="faDownload" size="xl"></fa-icon>
                  </span>
                  <span class="ml-2 d-inline d-md-none">{{ placeForm.get('published').value ? 'Quitar publicacion': 'Publicar'}}</span>
                </button>
              </div>

            </ng-container>
          </div>
          <div class="card-footer d-flex">
            <ng-container *ngIf="!placesTabs.editing">
              <button class="btn btn-secondary ml-auto" (click)="publishPlace(place.id, !place.published)">
                <span *ngIf="!place.published">
                  <fa-icon [icon]="faUpload" size="xl"></fa-icon> Publicar
                </span>
                <span *ngIf="place.published">
                  <fa-icon [icon]="faDownload" size="xl"></fa-icon> Quitar publicacion
                </span>
              </button>
              <button class="btn btn-primary ml-3 d-flex" (click)="selectPlace(place)">
                Personas y eventos
                <span class="ml-2 my-auto badge badge-pill badge-light">
                  {{place?.events?.length}}
                </span>
              </button>
            </ng-container>

            <ng-container *ngIf="placesTabs.editing">
              <button class="btn btn-secondary ml-auto" (click)="savePlaceEdition(place.id, true)">Cancelar</button>
              <button class="btn btn-primary ml-4" (click)="savePlaceEdition(place.id)">Guardar</button>
            </ng-container>

          </div>
        </ng-container>

      </div>

    </div>
  </ng-container>

  <!-- Loading de la Nueva Ciudad -->
  <div class="col-12 col-md-6 mb-5" *ngIf="newPlaceTab.loading">
    <div class="card-header d-flex">
      <h4 class="card-title">
        <app-loader class="loader" size="md"></app-loader>
      </h4>
    </div>
  </div>

  <!-- Carta de Nuevo Lugar -->
  <div class="col-12 col-md-6 mb-5" [ngClass]="{'col-md-6': !newPlaceTab.newPlace, 'col-md-12': newPlaceTab.newPlace}">
    <div class="card-header" (click)="toggleNewPlace()">
      <div class="row">
        <div class="col-1 d-flex">
          <fa-icon [icon]="newPlaceTab.newPlace ? faMapMarkerAlt : faMapMarker" size="lg" class="m-auto">
          </fa-icon>
        </div>
        <div class="col-10">
          <h4 class="card-title mb-0">
            Nuevo Lugar
          </h4>
          <small class="text-muted ml-2">
            Crear lugar
          </small>
        </div>
      </div>
    </div>


    <div *ngIf="newPlaceTab.newPlace">

      <ul class="nav nav-tabs pt-3 px-3">
        <li class="col-12 col-md-4 nav-item">
          <form [formGroup]="placeForm" class="mb-3 mb-md-0">
            <input type="text" class="form-control" formControlName="name" placeholder="Nombre del Lugar">
          </form>
        </li>
        <div class="col-12 col-md-8 d-flex">
          <li class="nav-item ml-auto">
            <a class="nav-link h-100" (click)="newPlaceTab.tab = 'desc'"
              [ngClass]="{'active': newPlaceTab.tab == 'desc', 'errorTab': placeForm?.get('description')?.invalid && placeForm?.get('description')?.touched }">
              Apariencia
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link h-100" (click)="newPlaceTab.tab = 'entry'"
              [ngClass]="{'active': newPlaceTab.tab == 'entry', 'errorTab': placeForm?.get('entry')?.invalid && placeForm?.get('entry')?.touched}">
              Historia
            </a>
          </li>
        </div>
      </ul>

      <div class="card-body border-left d-flex flex-column">
        <!-- Descripciones -->
        <ng-container *ngIf="newPlaceTab.tab == 'desc'">
          {{placeForm.get('name').value}} es ...
          <form [formGroup]="placeForm">
            <app-write-fragments [maxSize]="3" [tale]="placeForm.get('description')"></app-write-fragments>
          </form>
        </ng-container>
        <!-- Entradas -->
        <ng-container *ngIf="newPlaceTab.tab == 'entry'">
          En {{placeForm.get('name').value}}...
          <form [formGroup]="placeForm">
            <app-write-fragments [tale]="placeForm.get('entry')"></app-write-fragments>
          </form>
        </ng-container>

      </div>
      <div class="card-footer d-flex">

        <button class="btn btn-secondary ml-auto" (click)="addNewPlace(true)">Cancelar</button>
        <button class="btn btn-primary ml-4" (click)="addNewPlace()">Guardar</button>

      </div>
    </div>


  </div>
</div>