.place-card {
    // height: 30em;
}

.place-info {
}

.edition-area {
    resize: none;
    height: 12em;
}

.errorTab{
    border-color: red red #dee2e6;
    &.active{
        border-color: red red #fff;
    }
}
