<div class="row" *ngIf="(places$ | async ) as places">
  <ng-container *ngFor="let place of places; let i = index">
    <div class="col-6 mb-5" [ngClass]="{'col-6': (!placesTabs || !placesTabs.editing || placesTabs.place !== place.id), 'col-12': (placesTabs && placesTabs.place === place.id && placesTabs.editing)}">

      <!-- Carta de ciudad -->
      <div class="">
        <div class="card-header d-flex" (click)="togglePlaceInfo(place.id)">
          <fa-icon [icon]="placesTabs?.place === place.id ? faMapMarkerAlt : faMapMarker" size="lg" class="mr-2">
          </fa-icon>
          <h4 class="card-title">
            {{place.name}}
          </h4>
          <small class="text-muted ml-2 my-auto">
            <span *ngIf="!place.published">Sin Publicar</span>
            <span *ngIf="place.published">Publicado el {{ place.publishDate | date}}</span>
          </small>
        </div>

        <div *ngIf="placesTabs?.place === place.id">

          <ng-container *ngIf="placesTabs.loading">
            <div class="card-body d-flex">
              <app-loader class="loader mx-auto" size="md"></app-loader>
            </div>
          </ng-container>
          <ng-container *ngIf="!placesTabs.loading">
            <!-- tabs de descripcion y entrada -->
            <ul class="nav nav-tabs pt-3 px-3">
              <li class="nav-item ml-2">
                <a class="nav-link" (click)="placesTabs.page = 0; placesTabs.tab = 'desc'"
                  [ngClass]="{'active': placesTabs.tab == 'desc', 'disabled': placesTabs.editing }">
                  Descripciones
                  <span class="badge badge-pill"
                    [ngClass]="{'badge-primary': !placesTabs.editing, 'badge-secondary': placesTabs.editing }">
                    {{place?.description?.length}}
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="placesTabs.page = 0; placesTabs.tab = 'entry'"
                  [ngClass]="{'active': placesTabs.tab == 'entry', 'disabled': placesTabs.editing }">
                  Entradas
                  <span class="badge badge-pill"
                    [ngClass]="{'badge-primary': !placesTabs.editing, 'badge-secondary': placesTabs.editing }">
                    {{place.entry.length}}
                  </span>
                </a>
              </li>
              <div class="ml-auto" *ngIf="!placesTabs.editing">
                <!-- boton de editar descripcion o viaje -->
                <button class="btn mr-2" (click)="editTale(place.id)">
                  <fa-icon [icon]="faEdit" size="xl"></fa-icon>
                </button>
                <!-- boton de nueva descripcion o viaje -->
                <button class="btn mr-2" (click)="newTale()">
                  <fa-icon [icon]="faPlus" size="xl"></fa-icon>
                </button>
              </div>
            </ul>
            <div class="card-body border-left d-flex flex-column">
    
              <ng-container *ngIf="!placesTabs.editing">
                <!-- Descripciones -->
                <ng-container *ngIf="placesTabs.tab == 'desc'">
    
                  <div>
                    <app-animated-fragment [tale]="place.description[placesTabs.page].tale"></app-animated-fragment>
                    <p class="text-muted text-right"> - {{place.description[placesTabs.page].author}}</p>
                  </div>
    
                  <small class="text-muted ml-auto">
                    <span *ngIf="!place.description[placesTabs.page].published">Sin Publicar</span>
                    <span *ngIf="place.description[placesTabs.page].published">Publicado el
                      {{ place.description[placesTabs.page].publishDate | date}}</span>
                  </small>
    
                  <div class="text-muted mt-auto text-center">
                    <button class="btn btn-link" *ngIf="placesTabs.page!== 0" (click)="changePage(place.id,false)">
                      <fa-icon [icon]="faLeft"></fa-icon>
                    </button>
                    {{placesTabs.page + 1}}/{{place.description.length}}
                    <button class="btn btn-link" *ngIf="placesTabs.page + 1 !== place.description.length"
                    (click)="changePage(i,true)">
                    <fa-icon [icon]="faRight"></fa-icon>
                  </button>
                </div>
                </ng-container>
                <!-- Entradas -->
                <ng-container *ngIf="placesTabs.tab == 'entry'">
                  <div>
                    <app-animated-fragment [tale]="place.entry[placesTabs.page].tale"></app-animated-fragment>
                    <p class="text-muted text-right"> - {{place.entry[placesTabs.page].author}}</p>
                  </div>
                  <small class="text-muted ml-auto">
                    <span *ngIf="!place.entry[placesTabs.page].published">Sin Publicar</span>
                    <span *ngIf="place.entry[placesTabs.page].published">Publicado el
                      {{ place.description[placesTabs.page].publishDate | date}}</span>
                    </small>
                    <div class="text-muted mt-auto text-center">
                      <button class="btn btn-link" *ngIf="placesTabs.page!== 0" (click)="changePage(place.id,false)">
                        <fa-icon [icon]="faLeft"></fa-icon>
                      </button>
                      {{placesTabs.page + 1}}/{{place.entry.length}}
                      <button class="btn btn-link" *ngIf="placesTabs.page + 1 !== place.entry.length"
                      (click)="changePage(place.id,true)">
                      <fa-icon [icon]="faRight"></fa-icon>
                    </button>
                  </div>
                </ng-container>
              </ng-container>
  
              <!-- formulario de edicion y creacion -->
              <ng-container *ngIf="placesTabs.editing">
                <div class="d-flex">
                  <div>
                    <span *ngIf="placesTabs.tab == 'desc'">
                      {{place.name}} es ...
                    </span>
                    <span *ngIf="placesTabs.tab == 'entry'">
                      Entrando a {{place.name}} ...
                    </span>
                  </div>
                  <div class="ml-auto" *ngIf="!placesTabs.newTale">
                    <!-- boton de publicar descripcion o viaje -->
                    <button class="btn mr-2" (click)="publishTale(place.id)">
                      <span *ngIf="!placeForm.get('published').value">
                        <fa-icon [icon]="faUpload" size="xl"></fa-icon>
                      </span>
                      <span *ngIf="placeForm.get('published').value">
                        <fa-icon [icon]="faDownload" size="xl"></fa-icon>
                      </span>
                    </button>
                    <!-- boton de eliminar descripcion o viaje -->
                    <button class="btn mr-2" (click)="deleteTale(place.id)">
                      <fa-icon [icon]="faTimes" size="xl"></fa-icon>
                    </button>
                  </div>
                </div>
                <form [formGroup]="placeForm">
                  <app-write-fragments  [maxSize]="(placesTabs.tab == 'desc') ? 3 : null" [tale]="placeForm.get('tale')"></app-write-fragments>
                </form>
  
              </ng-container>
            </div>
            <div class="card-footer d-flex">
              <ng-container *ngIf="!placesTabs.editing">
                <button class="btn btn-secondary ml-auto" (click)="publishPlace(place.id, !place.published)">
                  <span *ngIf="!place.published">
                    <fa-icon [icon]="faUpload" size="xl"></fa-icon> Publicar
                  </span>
                  <span *ngIf="place.published">
                    <fa-icon [icon]="faDownload" size="xl"></fa-icon> Quitar publicacion
                  </span>
                </button>
                <button class="btn btn-primary ml-3" (click)="selectPlace(place)">
                  Personas y eventos
                  <span class="badge badge-pill">
                    {{place?.events?.length}}
                  </span>
                </button>
              </ng-container>
  
              <ng-container *ngIf="placesTabs.editing">
                <button class="btn btn-secondary ml-auto" (click)="savePlaceEdition(place.id, true)">Cancelar</button>
                <button class="btn btn-primary ml-4" (click)="savePlaceEdition(place.id)">Guardar</button>
              </ng-container>
  
            </div>
          </ng-container>

        </div>
      </div>
    </div>
  </ng-container>

  <!-- Loading de la Nueva Ciudad -->
  <div class="col-6 mb-5" *ngIf="newPlaceTab.loading">
    <div class="">
      <div class="card-header d-flex">
        <h4 class="card-title">
          <app-loader class="loader" size="md"></app-loader>
        </h4>
      </div>
    </div>
  </div>

  <!-- Carta de Nuevo Lugar -->
  <div class="col-6 mb-5" [ngClass]="{'col-6': !newPlaceTab.newPlace, 'col-12': newPlaceTab.newPlace}">
    <div class="">
      <div class="card-header d-flex" (click)="toggleNewPlace()">
        <fa-icon [icon]="newPlaceTab.newPlace ? faMapMarkerAlt : faMapMarker" size="lg" class="mr-2">
        </fa-icon>
        <h4 class="card-title">
          Nuevo Lugar
        </h4>
      </div>
      <div *ngIf="newPlaceTab.newPlace">
        <ul class="nav nav-tabs pt-3 px-3">
          <li class="nav-item ml-2 mt-n1">
            <form [formGroup]="placeForm">
              <input type="text" class="form-control" formControlName="name" placeholder="Nombre del Lugar">
            </form>
          </li>
          <li class="nav-item ml-auto mr-2">
            <a class="nav-link" (click)="newPlaceTab.tab = 'desc'"
              [ngClass]="{'active': newPlaceTab.tab == 'desc', 'errorTab': placeForm?.get('description')?.invalid && placeForm?.get('description')?.touched }">
              Descripciones
            </a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link" (click)="newPlaceTab.tab = 'entry'"
              [ngClass]="{'active': newPlaceTab.tab == 'entry', 'errorTab': placeForm?.get('entry')?.invalid && placeForm?.get('entry')?.touched}">
              Entrada
            </a>
          </li>
        </ul>
        <div class="card-body border-left d-flex flex-column">
          <!-- Descripciones -->
          <ng-container *ngIf="newPlaceTab.tab == 'desc'">
            {{placeForm.get('name').value}} es ...
            <form [formGroup]="placeForm">
              <app-write-fragments  [maxSize]="3" [tale]="placeForm.get('description')"></app-write-fragments>
            </form>
          </ng-container>
          <!-- Entradas -->
          <ng-container *ngIf="newPlaceTab.tab == 'entry'">
            Entrando a {{placeForm.get('name').value}}...
            <form [formGroup]="placeForm">
              <app-write-fragments [tale]="placeForm.get('entry')"></app-write-fragments>
            </form>
          </ng-container>

        </div>
        <div class="card-footer d-flex">

          <button class="btn btn-secondary ml-auto" (click)="addNewPlace(true)">Cancelar</button>
          <button class="btn btn-primary ml-4" (click)="addNewPlace()">Guardar</button>

        </div>
      </div>
    </div>
  </div>
</div>