<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
        <app-reader-nav (close)="close('escape')"></app-reader-nav>
    </mat-sidenav>

    <mat-sidenav-content class="h-100">
        <app-header [backBtn]="true" (menu)="open()"></app-header>
        <!-- <router-outlet></router-outlet> -->
        <div class="mt-5 pt-5 pl-5">
            aca va el contenido de la app
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>