<div class="app-main d-flex flex-column h-100 col-12 col-md-4 mx-md-auto" #scroll (scroll)="scrolling($event)">

    <ng-container *ngIf="activeTab == 'start'">
        <app-select-city></app-select-city>
    </ng-container>


    <ng-container *ngIf="activeTab == 'city' && this.cityId">
        <app-read-city [cityId]="cityId"></app-read-city>
    </ng-container>
    

    <ng-container *ngIf="activeTab == 'place' && this.placeId">
        <app-read-place [cityId]="cityId" [placeId]="placeId"></app-read-place>
    </ng-container>

    <ng-container *ngIf="activeTab == 'npc' && this.npcId">
        <app-read-npc [cityId]="this.cityId" [npcId]="npcId" [placeId]="placeId"></app-read-npc>
    </ng-container>

    <ng-container *ngIf="activeTab == 'story' && this.npcId">
        <app-read-chapters [cityId]="cityId" [npcId]="npcId" [placeId]="placeId"></app-read-chapters>
    </ng-container>


    
    
    
    

</div>