<div class="row" *ngIf="(npcs$ | async) as npcs">
  <ng-container *ngFor="let npc of npcs; let i = index">
    <div class="col-6 mb-5"
      [ngClass]="{'col-6': (!npcsTabs || !npcsTabs.editing || npcsTabs.npc !== npc.id), 'col-12': (npcsTabs && npcsTabs.npc === npc.id && npcsTabs.editing)}">

      <!-- Carta de ciudad -->
      <div class="card npc-card">
        <div class="card-header d-flex" (click)="toggleNpcInfo(npc.id)">
          <h4 class="card-title">
            {{npc.name}}
          </h4>
          <small class="text-muted ml-auto">
            <span *ngIf="!npc.published">Sin Publicar</span>
            <span *ngIf="npc.published">Publicado el {{ npc.publishDate | date }}</span>
          </small>
        </div>

        <ng-container *ngIf="npcsTabs && npcsTabs.npc === npc.id">

          <!-- tabs de descripcion, encuentro, decision y rechazo -->
          <ul class="nav nav-tabs mt-3">
            <li class="nav-item ml-2">
              <a class="nav-link" (click)="npcsTabs.tab = 'desc'"
                [ngClass]="{'active': npcsTabs.tab == 'desc', 'disabled': npcsTabs.editing }">
                Descripcion
              </a>
            </li>
            <li class="nav-item ml-2">
              <a class="nav-link" (click)="npcsTabs.tab = 'meet'"
                [ngClass]="{'active': npcsTabs.tab == 'meet', 'disabled': npcsTabs.editing }">
                Encuentro
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="npcsTabs.tab = 'decision'"
                [ngClass]="{'active': npcsTabs.tab == 'decision', 'disabled': npcsTabs.editing }">
                Decisión
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="npcsTabs.tab = 'reject'"
                [ngClass]="{'active': npcsTabs.tab == 'reject', 'disabled': npcsTabs.editing }">
                Rechazo
              </a>
            </li>

            <div class="ml-auto" *ngIf="!npcsTabs.editing">
              <!-- boton de editar descripcion o viaje -->
              <button class="btn mr-2" (click)="editTale(npc)">
                <i class="fas fa-pen"></i>
              </button>
            </div>
          </ul>
          <div class="card-body npc-info d-flex flex-column">
            <!-- Descripciones -->
            <ng-container *ngIf="!npcsTabs.editing && npcsTabs.tab == 'desc'">
              <div>
                <app-animated-fragment [tale]="npc.description.tale"></app-animated-fragment>
                <p class="text-muted text-right"> - {{npc.description.author}}</p>
              </div>
            </ng-container>
            <!-- Encuentro -->
            <ng-container *ngIf="!npcsTabs.editing && npcsTabs.tab == 'meet'">
              <div>
                <app-animated-fragment [tale]="npc.meeting.tale"></app-animated-fragment>
                <p class="text-muted text-right"> - {{npc.meeting.author}}</p>
              </div>
            </ng-container>
            <!-- Rechazo -->
            <ng-container *ngIf="!npcsTabs.editing && npcsTabs.tab == 'reject'">
              <div>
                <app-animated-fragment [tale]="npc.rejected.tale"></app-animated-fragment>
                <p class="text-muted text-right"> - {{npc.rejected.author}}</p>
              </div>
            </ng-container>
            <!-- Decision -->
            <ng-container *ngIf="!npcsTabs.editing && npcsTabs.tab == 'decision'">
              <app-take-decision [decision]="npc.decision" (taken)="takeNpcDecision(npc, $event)"></app-take-decision>
            </ng-container>

            <!-- formulario de edicion y creacion -->
            <ng-container *ngIf="npcsTabs.editing">
              <!-- Descripciones -->
              <ng-container *ngIf="npcsTabs.tab == 'desc'">
                {{npcForm.get('name').value}} es ...
                <form [formGroup]="npcForm">
                  <app-write-fragments  [maxSize]="3" [tale]="npcForm.get('description')"></app-write-fragments>
                </form>
              </ng-container>
              <!-- Encuentro -->
              <ng-container *ngIf="npcsTabs.tab == 'meet'">
                Al acercarte...
                <form [formGroup]="npcForm">
                  <app-write-fragments [tale]="npcForm.get('meeting')"></app-write-fragments>
                </form>
              </ng-container>
              <!-- Rechazo -->
              <ng-container *ngIf="npcsTabs.tab == 'reject'">
                Entrando a {{npcForm.get('name').value}}...
                <form [formGroup]="npcForm">
                  <app-write-fragments [tale]="npcForm.get('rejected')"></app-write-fragments>
                </form>
              </ng-container>
              <!-- Decision -->
              <ng-container *ngIf="npcsTabs.tab == 'decision'">
                <form [formGroup]="npcForm">
                  <app-write-decision [decision]="npcForm.get('decision')"></app-write-decision>
                </form>
              </ng-container>


            </ng-container>
          </div>
          <div class="card-footer d-flex">
            <ng-container *ngIf="!npcsTabs.editing">
              <button class="btn btn-secondary mr-auto" (click)="publishNpc(npc.id, !npc.published)">
                <span *ngIf="!npc.published">
                  <i class="fas fa-cloud-upload-alt"></i> Publicar
                </span>
                <span *ngIf="npc.published">
                  <i class="fas fa-cloud-download-alt"></i> Quitar publicacion
                </span>
              </button>
              <button class="btn btn-primary ml-auto" (click)="selectNpc(npc.id)">
                Historia
              </button>
            </ng-container>

            <ng-container *ngIf="npcsTabs.editing">
              <button class="btn btn-secondary ml-auto" (click)="saveNpcEdition(npc.id, true)">Cancelar</button>
              <button class="btn btn-primary ml-4" (click)="saveNpcEdition(npc.id)">Guardar</button>
            </ng-container>

          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <!-- Loading de la Nuevo NPC -->
  <div class="col-6 mb-5" *ngIf="newNpcTab.loading">
    <div class="card place-card">
      <div class="card-header d-flex">
        <h4 class="card-title">
          <app-loader class="loader" size="md"></app-loader>
        </h4>
      </div>
    </div>
  </div>

  <!-- Carta de Nuevo Lugar -->
  <div class="col-6 mb-5" [ngClass]="{'col-6': !newNpcTab.newNpc, 'col-12': newNpcTab.newNpc}">
    <div class="card npc-card">
      <div class="card-header d-flex" (click)="toggleNewNpc()">
        <h4 class="card-title">
          Nuevo Evento
        </h4>
      </div>
      <ng-container *ngIf="newNpcTab.newNpc">
        <ul class="nav nav-tabs mt-3">
          <li class="nav-item ml-2 mt-n1">
            <form [formGroup]="npcForm">
              <input type="text" class="form-control" formControlName="name" placeholder="Nombre del evento">
            </form>
          </li>
          <li class="nav-item ml-2 mt-n1">
            <form [formGroup]="npcForm">
              <select class="form-control" formControlName="npcType">
                <option value="story">Historia</option>
                <option value="store" disabled>Tienda</option>
                <option value="travel" disabled>Agente de viajes</option>
              </select>
            </form>
          </li>
          <!-- <li class="nav-item ml-2 mt-n1">
            <form [formGroup]="npcForm">
              <input class="form-control" type="text" formControlName="title" placeholder="Titulo de la historia">
            </form>
          </li> -->
          <li class="nav-item ml-auto mr-2">
            <a class="nav-link" (click)="newNpcTab.tab = 'desc'"
              [ngClass]="{'active': newNpcTab.tab == 'desc', 'errorTab': npcForm?.get('description')?.invalid && npcForm?.get('description')?.touched }">
              Descripciones
            </a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link" (click)="newNpcTab.tab = 'meet'"
              [ngClass]="{'active': newNpcTab.tab == 'meet', 'errorTab': npcForm?.get('meeting')?.invalid && npcForm?.get('meeting')?.touched}">
              Encuentro
            </a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link" (click)="newNpcTab.tab = 'decision'"
              [ngClass]="{'active': newNpcTab.tab == 'decision', 'errorTab': npcForm?.get('decision')?.invalid && npcForm?.get('decision')?.touched}">
              Decisión
            </a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link" (click)="newNpcTab.tab = 'reject'"
              [ngClass]="{'active': newNpcTab.tab == 'reject', 'errorTab': npcForm?.get('rejected')?.invalid && npcForm?.get('rejected')?.touched}">
              Rechazo
            </a>
          </li>
        </ul>
        <div class="card-body npc-info d-flex flex-column">
          <!-- Descripciones -->
          <ng-container *ngIf="newNpcTab.tab == 'desc'">
            {{npcForm.get('name').value}} es ...
            <form [formGroup]="npcForm">
              <app-write-fragments [maxSize]="3" [tale]="npcForm.get('description')"></app-write-fragments>
            </form>
          </ng-container>
          <!-- Encuentro -->
          <ng-container *ngIf="newNpcTab.tab == 'meet'">
            Al acercarte...
            <form [formGroup]="npcForm">
              <app-write-fragments [tale]="npcForm.get('meeting')"></app-write-fragments>
            </form>
          </ng-container>
          <!-- Rechazo -->
          <ng-container *ngIf="newNpcTab.tab == 'reject'">
            Entrando a {{npcForm.get('name').value}}...
            <form [formGroup]="npcForm">
              <app-write-fragments [tale]="npcForm.get('rejected')"></app-write-fragments>
            </form>
          </ng-container>
          <!-- Decision -->
          <ng-container *ngIf="newNpcTab.tab == 'decision'">
            <form [formGroup]="npcForm">
              <app-write-decision [decision]="npcForm.get('decision')"></app-write-decision>
            </form>
          </ng-container>

        </div>
        <div class="card-footer d-flex">

          <button class="btn btn-secondary ml-auto" (click)="addNewNpc(true)">Cancelar</button>
          <button class="btn btn-primary ml-4" (click)="addNewNpc()">Guardar</button>

        </div>
      </ng-container>
    </div>
  </div>
</div>