<div class="row" *ngIf="decision">

    <ng-container *ngIf="decision.options && decision.options.length>0">

        <ng-container *ngFor="let option of decision.options">
            <div class="col-12 col-md-6" (click)="takeDecision(option.value)">
                <div class="border-bottom pb-1">
                    <h6> <fa-icon [icon]="caretRigh" size="sm"></fa-icon> {{option.name}}</h6>
                </div>
                <div class="border-left pl-3 py-2 mb-3">
                    <p class="mb-0">{{option.description}}</p>
                </div>
            </div>
        </ng-container>

    </ng-container>
</div>