@if (cities$ | async; as cities) {
  <div class="row">
    @for (city of cities; track $index; let i = $index) {
      <div class="col-12 col-md-6 mb-5"
        [ngClass]="{'col-md-6': (!citiesTabs || !citiesTabs.editing || citiesTabs.city !== city.id), 'col-md-12': (citiesTabs && citiesTabs.city === city.id && citiesTabs.editing)}">
  
        <!-- card de la ciudad -->
        <div class="card-header" (click)="toggleCityInfo(city.id ||'')">
          <div class="row">
            <div class="col-1 d-flex">
              <mat-icon [fontIcon]="citiesTabs.city === city.id ? 'edit_location_alt' : 'location_on'" class="m-auto">
              </mat-icon>
            </div>
            <div class="col-10">
              <h4 class="card-title mb-0">
                {{city.name}}
              </h4>
              <small class="text-muted ml-2">
                @if (!city.published) {
                  Sin Publicar
                } @else {
                  Publicado el {{ city.publishDate | date}}
                }
              </small>
            </div>
          </div>
        </div>
  
        <!-- card expandida -->
         @if (citiesTabs.city === city.id) {
           <div>
     
            @if (citiesTabs.loading) {
              <div class="card-body d-flex">
                <app-loader class="loader mx-auto" size="md"></app-loader>
              </div>

            } @else {
              <!-- Tabs de descripcion y viaje -->
              <ul class="nav nav-tabs pt-3">
                <li class="nav-item col-6">
                  <a class="nav-link h-100 d-flex" (click)="citiesTabs.page = 0; citiesTabs.tab = cityTabs.descripcion"
                    [ngClass]="{'active': citiesTabs.tab == cityTabs.descripcion, 'disabled': citiesTabs.editing }">
                    Extractos
                    <span class="ml-2 my-auto badge badge-pill"
                      [ngClass]="{'badge-primary': !citiesTabs.editing, 'badge-secondary': citiesTabs.editing }">
                      {{city.description?.length}}
                    </span>
                  </a>
                </li>
                <li class="nav-item col-6">
                  <a class="nav-link h-100 d-flex" (click)="citiesTabs.page = 0; citiesTabs.tab = cityTabs.travel"
                    [ngClass]="{'active': citiesTabs.tab == cityTabs.travel, 'disabled': citiesTabs.editing }">
                    Historias
                    <span class="ml-2 my-auto badge badge-pill"
                      [ngClass]="{'badge-primary': !citiesTabs.editing, 'badge-secondary': citiesTabs.editing }">
                      {{city.travel?.length}}
                    </span>
                  </a>
                </li>
    
    
              </ul>
    
              <div class="py-2 px-3 border-left d-flex flex-column">
    
                @if (!citiesTabs.editing) {
                  <!-- Botones -->
                  <div class="mr-auto mb-2">
                    <!-- boton de nueva descripcion o viaje -->
                    <button class="btn mr-2" (click)="newTale()" matTooltip="Nueva narración">
                      <mat-icon fontIcon="add" size="sm"></mat-icon>
                      <span class="ml-2 d-inline d-md-none">Nueva</span>
                    </button>
                    <!-- boton de editar descripcion o viaje -->
                    <button class="btn mr-2" (click)="editTale(city.id || '')" matTooltip="Editar narración">
                      <mat-icon fontIcon="edit" size="sm"></mat-icon>
                      <span class="ml-2 d-inline d-md-none">Editar</span>
                    </button>
                  </div>
                  <!-- Descripciones -->
                   @if (citiesTabs.tab == 'desc') {
                     <div>
                      @if ((citiesTabs.page || citiesTabs.page==0) && city.description && city.description[citiesTabs.page]; as description) {
                        <app-animated-fragment [tale]="description.tale"></app-animated-fragment>
                        <p class="text-muted text-right"> - {{description.author}}</p>
                      }
                     </div>
                     <small class="text-muted ml-auto">
                       {{!city.description![citiesTabs.page || 0].published ? 'Sin Publicar': `Publicado el ${city.description![citiesTabs.page || 0].publishDate | date}`}}
                     </small>
                     <div class="text-muted mt-auto justify-content-center d-flex w-100 ">
                      @if (citiesTabs.page!== 0) {
                        <button mat-icon-button class="mr-auto" (click)="changePage(false)">
                          <mat-icon fontIcon="chevron_left"></mat-icon>
                        </button>
                      }
                      <div class="d-flex my-auto mx-2">
                        {{citiesTabs.page! + 1}}/{{city.description!.length}}
                      </div>
                       @if (citiesTabs.page! + 1 !== city.description!.length) {
                         <button mat-icon-button class="ml-auto"
                           (click)="changePage(true)">
                           <mat-icon fontIcon="chevron_right"></mat-icon>
                         </button>
                       }
                     </div>
                   }
                  <!-- Viajes -->
                   @if (citiesTabs.tab == 'travel') {
                     <div>
                       <app-animated-fragment [tale]="city.travel![citiesTabs.page || 0].tale"></app-animated-fragment>
                       <p class="text-muted text-right"> - {{city.travel![citiesTabs.page||0].author}}</p>
                     </div>
                     <small class="text-muted ml-auto">
                      {{!city.travel![citiesTabs.page ||0].published ? 'Sin Publicar' : `Publicado el ${city.travel![citiesTabs.page ||0].publishDate | date}`}}
                     </small>
                     <div class="text-muted mt-auto justify-content-center d-flex w-100 ">
                      @if (citiesTabs.page!== 0) {
                        <button mat-icon-button class="d-flex" (click)="changePage(false)">
                          <mat-icon fontIcon="chevron_left"></mat-icon>
                        </button>
                      }
                      <div class="d-flex my-auto mx-2">
                        {{citiesTabs.page! + 1}}/{{city.travel!.length}}
                      </div>
                      @if ((citiesTabs.page! + 1) !== city.travel!.length) {
                      <button mat-icon-button class="d-flex"
                        (click)="changePage(true)">
                        <mat-icon fontIcon="chevron_right"></mat-icon>
                      </button>
                      }
                     </div>
                   }
                }
    
                <!-- formulario de edicion y creacion -->

                @if (citiesTabs.editing) {
                  <!-- <div>
                    @if (citiesTabs.tab == 'desc') {
                      {{city.name}} es ...
                    }
                    @if (citiesTabs.tab == 'travel') {
                      En {{city.name}} ...
                    }
                  </div>
                  <form [formGroup]="cityForm">
                    <app-write-fragments [maxSize]="(citiesTabs.tab == 'desc') ? 3 : null" [tale]="cityForm.get('tale')">
                    </app-write-fragments>
                  </form> -->
    
                  <!-- botones de edicion -->
                   @if (!citiesTabs.newTale) {
                     <div class="my-3">
                       <!-- boton de eliminar descripcion o viaje -->
                       <!-- <button class="btn mr-2" (click)="deleteTale(city.id)" matTooltip="Eliminar narracíon">
                         <mat-icon fontIcon="times" size="xl"></mat-icon>
                         <span class="ml-2 d-inline d-md-none">Eliminar</span>
                       </button> -->
                       <!-- boton de publicar descripcion o viaje -->
                       <!-- <button class="btn mr-2" (click)="publishTale(city.id)" 
                          matTooltip="{{ cityForm.get('published').value ? 'Quitar publicacion': 'Publicar'}}">
                         <mat-icon [fontIcon]="cityForm.get('published').value ? 'download': 'upload'" size="xl"></mat-icon>
                         <span class="ml-2 d-inline d-md-none">{{ cityForm.get('published')!.value ? 'Quitar publicacion': 'Publicar'}}</span>
                       </button> -->
                     </div>
                   }
                }
    
              </div>
              <div class="card-footer d-flex">
    
                <!-- Acciones de ciudad sin edicion -->
                 @if (!citiesTabs.editing) {
                   <!-- <button class="btn btn-secondary ml-auto" (click)="publishCity(city.id, !city.published)">
                     <mat-icon [fontIcon]="city.published ? 'download':'upload'"></mat-icon> {{city.published ? 'Quitar Publicacion': 'Publicar'}}
                   </button>
                   <button class="btn btn-primary ml-3" (click)="selectCity(city.id)">Lugares</button> -->
                 } @else {
                   <!-- acciones de la edicion -->
                   <!-- <button class="btn btn-secondary ml-auto" (click)="saveCityEdition(city.id, true)">Cancelar</button>
                   <button class="btn btn-primary ml-4" (click)="saveCityEdition(city.id)">Guardar</button> -->
                 }
    
              </div>

            }
             <ng-container>
     
     
             </ng-container>
     
     
     
           </div>
         }
  
      </div>
    }
  
    <!-- Loading de la Nueva Ciudad -->
     @if (newCityTab.loading) {
       <div class="col-12 col-md-6 mb-5">
         <div class="card-header d-flex">
           <h4 class="card-title">
             <app-loader class="loader" size="md"></app-loader>
           </h4>
         </div>
       </div>
     }
  
    <!-- Carta de Nueva Ciudad -->
    <div class="col-12 col-md-6 mb-5" [ngClass]="{'col-md-6': !newCityTab.newCity, 'col-md-12': newCityTab.newCity}">
  
      <!-- <div class="card-header" (click)="toggleNewCity()">
        <div class="row">
          <div class="col-1 d-flex">
            <mat-icon [fontIcon]="newCityTab.newCity ? 'edit_location_alt': 'location_on'" size="lg" class="m-auto"></mat-icon>
          </div>
          <div class="col-10">
            <h4 class="card-title mb-0">
              Nueva Ciudad
            </h4>
            <small class="text-muted ml-2">
              Crear ciudad
            </small>
          </div>
        </div>
      </div> -->

      @if(newCityTab.newCity) {
        <div>
    
          <ul class="nav nav-tabs pt-3 px-3">
            <li class="col-12 col-md-4 nav-item">
              <form [formGroup]="cityForm" class="mb-3 mb-md-0">
                <input type="text" class="form-control" formControlName="name" placeholder="Nombre de la ciudad">
              </form>
            </li>
            <div class="col-12 col-md-8 d-flex">
              <li class="nav-item ml-auto">
                <a class="nav-link h-100" (click)="newCityTab.tab = 'desc'"
                  [ngClass]="{'active': newCityTab.tab == 'desc', 'errorTab': cityForm.get('description')?.invalid && cityForm.get('description')?.touched }">
                  Extracto
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link h-100" (click)="newCityTab.tab = 'travel'"
                  [ngClass]="{'active': newCityTab.tab == 'travel', 'errorTab': cityForm.get('travel')?.invalid && cityForm.get('travel')?.touched}">
                  Historia
                </a>
              </li>
            </div>
          </ul>
    
    
          <div class="card-body border-left d-flex flex-column">
            <!-- Descripciones -->
            <!-- <ng-container *ngIf="newCityTab.tab == 'desc'">
              {{cityForm.get('name').value}} es ...
              <form [formGroup]="cityForm">
                <app-write-fragments [maxSize]="3" [tale]="cityForm.get('description')"></app-write-fragments>
              </form>
            </ng-container> -->
            <!-- Viajes -->
            <!-- <ng-container *ngIf="newCityTab.tab == 'travel'">
              En {{cityForm.get('name').value}} ...
              <form [formGroup]="cityForm">
                <app-write-fragments [tale]="cityForm.get('travel')"></app-write-fragments>
              </form>
            </ng-container> -->
    
          </div>
          <!-- <div class="card-footer d-flex">
    
            <button class="btn btn-secondary ml-auto" (click)="addNewCity(true)">Cancelar</button>
            <button class="btn btn-primary ml-4" (click)="addNewCity()">Guardar</button>
    
          </div> -->
        </div>
      }
  
    </div>
  
  </div>
}