<div class="row">
    <!-- seccion de edicion -->
    <div class="col-8 pb-1">
        <ng-container *ngFor="let form of talesForm.controls; let i = index">
            <div class="row" [formGroup]="form">
                <div class="col-10" [ngClass]="{'tale-invalid': tale.invalid && tale.touched && i === talesForm.length - 1 }">
                    <textarea 
                        [id]="'input-'+i" 
                        formControlName="text" 
                        class="form-control tale-textarea" 
                        cdkTextareaAutosize rows="3" 
                        (keyup.enter)="focusOnFragment(i + 1)">
                    
                    </textarea>
                </div>
                <div class="col-2">
                    animacion
                </div>
            </div>
        </ng-container>

    </div>

    <!-- seccion de prueba -->
    <div class="col-4">
        <ng-container *ngFor="let tale of talesForm.value">
            <p> {{tale.text }}</p>
        </ng-container>
    </div>
</div>