<ng-container>
    <div class="description-tale">
        <h2>Selecciona una ciudad</h2>
        <p>Para comenzar, debes elegir la ciudad donde deseas comenzar tu aventura.</p>
    </div>
</ng-container>

<ng-container *ngIf="(cities$ | async) as cities">
    <div class="city-selector border-top">
        <div class="d-flex py-2 col-12 col-md-4 mx-md-auto" (click)="openSelection()">
            <div class="h5 mr-auto">
                ¿A dónde te gustaría comenzar?
            </div>
            <div class="ml-auto my-auto">
                <fa-icon [icon]="faDown" size="xl"></fa-icon>
            </div>
        </div>
    </div>
</ng-container>
